<script src="https://unpkg.com/vue"></script>
<meta charset="utf-8">

<style>

</style>

<div id="app">
   <ul>
       <li v-for="(c, i ) in cores">{{c}}{{i}}</li>
   </ul>

   <template v-for="(c , i) in cores">
    <h1>{{c}}</h1>
    <p>{{i}}</p>
   </template>
   <ul>
     <li v-for="p in pessoas">
       <template v-for="(valor, chave, index) in p">
        {{chave}} = {{valor}}  ({{index}})
       </template>
       <hr>
     </li>
   </ul>
   <hr>
   <div v-for="n in 10">{{n}}</div>
</div>
<script>
    new Vue({
        el:'#app',
      data:{
        cores:['verde', 'amarelo', 'azul', 'laranja'],
        pessoas:[
            {nome: 'Jarbas', idade:42, prof:'progreamador'},
            {nome:'Renata', idade:43, prof:'Professora'}
        ]
      }
        
    })
</script>

<style>
  h1, p{
    display: inline;
  }
  ul{
    list-style: none;
  }
</style>